
.container {
    overflow: auto;
    min-width: 100%;
    max-width: 100%;
}

.grid-style {
    color: white;   
}

    .grid-style th,
    .grid-style td {
        padding: 6px;       
    }

    .grid-style th {
        background-color: #8e44656b;
        font-weight: bold;
    }


    .grid-style tr:not(.selected-row) {
        cursor: pointer;
        background-color: rgba(33,33,33, .7);        
    }

    .grid-style tr:hover:not(.selected-row) {
        background-color: #5a5e5e;
    }

.selected-row {
    background-color: #9ed9e0 !important;
}

.bb-grid-pagination-text {
    padding: .375rem;
    color: white;
}

/*.options-container {  
    display: inline;    
}*/


/*::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #03e9f4;    
    border: 3px solid white;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #028090;
    }
*/
