
.container {
    overflow: auto;
    min-width: 100%;
    max-width: 100%;
}

.grid-style {
    color: white;   
}

    .grid-style th,
    .grid-style td {
        padding: 6px;       
    }

    .grid-style th {
        background-color: #8e44656b;
        font-weight: bold;
    }


    .grid-style tr:not(.selected-row) {
        cursor: pointer;
        background-color: rgba(33,33,33, .7);        
    }

    .grid-style tr:hover:not(.selected-row) {
        background-color: #5a5e5e;
    }

.selected-row {
    background-color: #9ed9e0 !important;
}

.bb-grid-pagination-text {
    padding: .375rem;
    color: white;
}

