
.log-container {
    overflow: auto;
    padding: 0% 1%;
}

.table {
    margin-bottom: 0px;
    white-space: pre-wrap; 
}

    .table > thead {
        vertical-align: middle;
        height:200px;
    }

.table-responsive::-webkit-scrollbar {
    width: 13px;
    border-radius: 20px;
}


.table-responsive::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: rgba(31,31,31,1);
    border: 3px solid #b1b1b163;    
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(70,70,70,1);
    border-radius: 20px;
    border: 3px solid #b1b1b163;
}

    .table-responsive::-webkit-scrollbar-thumb:hover {
        background-color: rgba(68,68,68,1);
    }

.table-responsive {
    overflow-x: auto;
    border-radius: 17px;
    border: 2px solid #a1f097;
    animation: borderEffect 10s ease-in-out infinite alternate;
    box-shadow: 0px 0px 36px -6px rgb(105 235 109);  
}

.grid-style {
    color: white;
    justify-items: center;    
}

@keyframes borderEffect {
    from {
        opacity: 1;
        border: 2px solid #a1f097;
        box-shadow: 0px 0px 36px -6px rgb(105 235 109);
    }

    to {
        opacity: 0.9;
        border: 2px solid lime;
        box-shadow: 0px 0px 36px -6px rgb(105 235 109);
    }
}

    .form-control {
        background-color: rgba(255,255,255, .5);
    }

    .grid-style th, .grid-style td {
        padding: 6px;
        width: max-content;
        z-index: -1
    }

.form-select {
    border: 2px solid #a1f097;
    box-shadow: 0px 0px 36px -6px rgb(105 235 109);
    background-color: rgba(255,255,255, .6);
    color: white;
    border-radius: 10px;
}

    .form-select:focus {
        border: 2px solid #c8f9cd;
        box-shadow: 0px 0px 36px -6px rgb(105 235 109);       
    }

    .form-select option {
        background-color: #5a5e5e;
        opacity: .5;
        border-radius: 20px;
    }
        .form-select option:hover {
            background-color: transparent !important;
            border: 2px solid #a1f097 !important;
        }

  
  

    .grid-style th {
        background-color: #00000099;
        font-weight: bold;
        font-size: 20px;
        /*text-decoration: underline;*/
        min-height: 70px;
    }


    .grid-style tr:not(.selected-row) {
        cursor: pointer;
        background-color: rgba(33,33,33, .7);        
    }

    .grid-style tr:hover:not(.selected-row) {
        background-color: #5a5e5e;
    }

.grid-style th:first-child,
.grid-style td:first-child,
.grid-style th:nth-child(3),
.grid-style td:nth-child(3) {
    max-width: 95px;
}

.grid-style th:nth-child(2),
.grid-style td:nth-child(2) {
    max-width: 150px;
}

.grid-style td:nth-child(4),
.grid-style th:nth-child(4){
    max-width:200px;
}

.grid-style td:nth-child(4),
.grid-style td:nth-child(5) {
    padding-left: 40px;
    text-align: left;
}

.selected-row {
    background-color: #9ed9e0 !important;
}

.bb-grid-pagination-text {
    padding: .375rem;
    color: white;
}

