.modal-body {
    display: contents;
}

.modal-header {
    display: none;
}

.main-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75vw;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 36px -6px var(--shadow-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background: rgba(0,0,0,.9);
    transform: translate(-50%, -50%);
    max-height: 100vh;
    overflow-y: auto;
    height: auto;
    transition: all ease-in-out 2s;    
    animation: moreOpacity 10s ease-in-out infinite alternate;
}

@keyframes moreOpacity {
    from {
        opacity: 0.9;
        border: 2px solid var(--primary-color);
        box-shadow: 0px 0px 36px -6px var(--shadow-color);
    }

    to {
        opacity: 1;
        border: 1px solid var(--secondary-color);
        box-shadow: 0px 0px 36px 0px var(--shadow-color);
    }
}

    .main-box h2 {
        margin: 0 0 10%;
        font-size: 2em;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .main-box .core-box {
        position: relative;
        transition: all ease-in-out 10s;
    }

        .core-box input,
        .core-box select
        {
            width: 100%;
            padding: 10px 15px;
            font-size: 16px;
            color: #fff;
            margin: 30px 0px;
            outline: none;
            border-radius: 5px;
            background: rgba(255, 255, 255, .2);
            border: 2px solid var(--primary-color);
            /* box-shadow: 0 3px 26px rgba(3,233,244);
            border: 2px solid var(--main-box-color);*/
        }

        .core-box input:focus,
        .core-box select:focus {
            border: 2px solid white;
        }

        .core-box select option {
            background: rgba(0, 0, 0, .8) !important;
        }

        .main-box .core-box label {
            position: absolute;
            top: 31px;
            left: 1px;
            padding: 10px 15px;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }

        .core-box input:focus ~ label,
        .core-box input:valid ~ label {
            top: -5px;
            left: 12px;
            color:var(--primary-color);
            font-size: 14px;
        }
   

    .main-box form a {
        position: relative;
        display: ruby-text;
        padding: 10px 20px;
        color: var(--main-box-color);
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
    }

    .main-box a:hover {
        background: var(--main-box-color);
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px var(--main-box-color), 0 0 25px var(--main-box-color), 0 0 50px var(--main-box-color), 0 0 100px var(--main-box-color);
    }

    .main-box a span {
        position: absolute;
        display: block;
    }

        .main-box a span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, var(--main-box-color));
            animation: btn-anim1 1s linear infinite;
        }

        .main-box a span:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, var(--main-box-color));
            animation: btn-anim2 1s linear infinite;
            animation-delay: 1500ms
        }

        .main-box a span:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, var(--main-box-color));
            animation: btn-anim3 1s linear infinite;
            animation-delay: 3000ms
        }


        .main-box a span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, var(--main-box-color));
            animation: btn-anim4 1s linear infinite;
            animation-delay: 4500ms
        }

    .main-box form button {
        margin-inline:5%;
    }

  
    .main-box::-webkit-scrollbar {
        width: 0px;         
    }   


keyframes btn-anim1, btn-anim2, btn-anim3, btn-anim4 {
    0%

{
    left: -100%;
}

50%, 100% {
    left: 100%;
}

}
}
