.header {
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    border-bottom: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 36px -6px var(--shadow-color);
    display: flex;   
    animation: borderEffect 10s ease-in-out infinite alternate;
    justify-content: space-between;
    margin: 0 1%;
    align-items: center;
}


.left-container {
    display: ruby;
    margin-bottom: 20px;
}

    .left-container input {      
        margin-bottom: 0px !important;
        width: 200px;
    }

    .left-container .core-box {
       /* margin: 10px 20px;*/
        margin: 10px;
    }

.nav-button {
    color: white;
    font-size: 17px;
    border-radius: var(--border-radius);
    padding: 8px;
    background-color: transparent;
    border: 2px solid transparent;
    display: inline-block;
    margin: 15px 10px;
    height: 60px;
    transition: all .5s ease-in-out;
    width: 205px;
}

    .nav-button:hover {
        background-color: #5a5e5e;
        border: 2px solid var(--primary-color);
        box-shadow: 0px 0px 36px -6px var(--shadow-color);
        transition: all .2s ease-in-out;
    }

    .nav-button.active {
        background-color: #5a5e5e; /* Color de fondo cuando está en estado active */
        border: 2px solid var(--primary-color);
        box-shadow: 0px 0px 36px -6px var(--shadow-color);
        transition: all .2s ease-in-out;
    }

img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.nav-button img[src*="logout.png"] {
    width: 20px;
    height: 24px;
}
