@inherits LayoutComponentBase
@using BlazorBootstrap

<div class="page">
    <main>     
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<Preload LoadingText="Loading..." />

<style>
    html {
        height: 100%;
    }

    body {
        color: white;
        margin: 0;
        padding: 0;
        font-family: sans-serif;  
        /*background: linear-gradient(315deg, #444444, #1f1f1f);
         background: linear-gradient(45deg, #1f1f1f, #444444); */
        background: rgb(31,31,31);
        background: linear-gradient(126deg, rgba(31,31,31,1) 0%, rgba(38,37,37,1) 50%, rgba(68,68,68,1) 100%);
    }
</style>