<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="File"
                name="logfile"
                fileName="${basedir}/logs/log-api-${shortdate}.txt"
                layout="${longdate} [${level:uppercase=true}] ${message}"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"/>
		
		<target xsi:type="Database"
				name="database"
				connectionString="${configsetting:item=ConnectionStrings.EcoLogTrackingDB}">			

			<commandText>
				INSERT INTO dbo.Log(
				Time_stamp,
				Level,
				Logger,
				Message,
				Call_site,
				Log_exception,
				Stacktrace,				
				MachineName
				)
				values(
				@Time_stamp,
				@Level,
				@Logger,
				@Message,
				@Call_site,
				@Log_exception,
				@Stacktrace,				
				@MachineName
				);
			</commandText>

			<parameter name="@Time_stamp" layout="${date}"/>
			<parameter name="@Level" layout="${level:uppercase=true}"/>
			<parameter name="@Logger" layout="${logger}"/>
			<parameter name="@Message" layout="${message}"/>
			<parameter name="@Call_site" layout="${callsite:filename=true}"/>
			<parameter name="@Log_exception" layout="${exception}"/>
			<parameter name="@Stacktrace" layout="${stacktrace}"/>			
			<parameter name="@MachineName" layout="${machinename}" />
		</target>		
	</targets>

	<rules>
		<logger name="EcoLogTracking.Server.RequestLoggingMiddleware" minlevel="Info" writeTo="database" />		
		<logger name="EcoLogTracking.Server.RequestLoggingMiddleware" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>
