<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="File"
                name="logfile"
                fileName="${basedir}/logs/log-api-${shortdate}.txt"
                layout="${longdate} [${level:uppercase=true}] ${message}"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"/>
		
		<target xsi:type="File"
					   name="jsonLogFile"
					   fileName="${basedir}/logs/json-log-${shortdate}.txt"
					   layout="${message}"
					   archiveEvery="Day"
					   archiveNumbering="Rolling"
					   maxArchiveFiles="7"
					   concurrentWrites="true"/>
		
		<target name="database"
                xsi:type="Database"
                connectionString="${configsetting:item=ConnectionStrings.EcoLogTrackingDB}">
			<commandText>
				INSERT INTO [dbo].[Log] (
				[MachineName],
				[Logged],
				[Level],
				[Message],
				[Logger],
				[Request_method],
				[Stacktrace],
				[File_name],
				[All_event_properties],
				[Log_exception]
				) VALUES (
				@machineName,
				@logged,
				@level,
				@message,
				@logger,
				@request_method,
				@stacktrace,
				@filename,
				@alleventproperties,
				@log_exception
				);
			</commandText>
			<parameter name="@machineName" layout="${machinename}"/>
			<parameter name="@logged" layout="${date}"/>
			<parameter name="@level" layout="${level:uppercase=true}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@logger" layout="${logger}"/>
			<parameter name="@request_method" layout="${aspnet-request-method}"/>
			<parameter name="@stacktrace" layout="${stacktrace}" />
			<parameter name="@filename" layout="${callsite:filename=true}"/>
			<parameter name="@alleventproperties" layout="${all-event-properties}"/>
			<parameter name="@log_exception" layout="${exception}"/>
		</target>
	</targets>

	<rules>
		<logger name="EcoLogTracking.Server.Controllers.*" minlevel="Info" writeTo="database" />
		<logger name="EcoLogTracking.Server.Controllers.*" minlevel="Info" writeTo="logfile" />
		<logger name="EcoLogTracking.Server.Controllers.*" minlevel="Info" writeTo="jsonLogFile"></logger>
	</rules>
</nlog>
