@page "/login" 

@inject HttpClient Http
@inject NavigationManager NavManager
@inject ILocalStorageService storageService
@inject IJSRuntime JS

<PageTitle>EcoLog Tracking</PageTitle>

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" StackLength="5" Placement="ToastsPlacement.TopRight" />

<div class="main-box" style="background: rgba(0,0,0,.5); max-width: 600px;">
    <h2>LOGIN</h2>
    <form>
        <div class="core-box">
            <input autofocus type="text" name="" required="true" @bind="UserName" @bind:event="oninput">
            <label>Username</label>
        </div>
        <div class="core-box">
            <input type="password" name="" required="true" @bind="Password" @bind:event="oninput" autocomplete="current-password">
            <label>Contraseña</label>
        </div>  
        <button type="button" id="loginButton" class="button-style" @onclick="OnClickLogin">
            Login
        </button>        
    </form>
</div>

<script>
    (function () {
        let enterEventListener = null;

        window.addEnterEventListener = function (buttonId, isRegistering) {
            if (!isRegistering) {
                if (enterEventListener === null) {
                    enterEventListener = function (event) {
                        if (event.key === "Enter") {
                            document.getElementById(buttonId).click();
                        }
                    };
                    document.addEventListener("keydown", enterEventListener);
                }
            } else {
                if (enterEventListener !== null) {
                    document.removeEventListener("keydown", enterEventListener);
                    enterEventListener = null;
                }
            }
        };
    })();
</script>
