@page "/"
@using EcoLogTracking.Client.Components
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager NavManager
@inject ILocalStorageService storageService

<PageTitle>EcoLog Tracker</PageTitle>

<Modal @ref="ModalInstance" ShowCloseButton=" true" IsVerticallyCentered="true" IsScrollable="true" />

<div class="mainContainer">
    @if (isLoading)
    {
        <div class="spinner-overlay">
            <div class="spinner"></div>
        </div>
    }
  
        <nav class="header">          
                <ul>
                    <li @onclick="OnClickExportExcel"><label> Exportar<img src="Icons/excel.png" /></label></li> 
                </ul>
        </nav>
   


    <div class="container">       
        <div class="todoContainer">
            <LogViewer/>
        </div>
    </div>
</div>

<section id="bottom" />

<script src="/js/utilidades.js"></script>