@page "/logger"
@using EcoLogTracking.Client.Components
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager NavManager
@inject ILocalStorageService storageService

<PageTitle>EcoLog Tracker</PageTitle>

<Modal @ref="ModalInstance" ShowCloseButton=" true" IsVerticallyCentered="true" IsScrollable="true" />

<div class="mainContainer">
    @if (isLoading)
    {
        <div class="spinner-overlay">
            <div class="spinner"></div>
        </div>
    }

    <nav class="header">
        <button type="button" class="nav-button" @onclick="OnClickExportExcel">
            Exportar <img src="Icons/excel.png" />
        </button>
        <button type="button" class="nav-button" @onclick="OnclickConfig">
            Configuracion <img src="Icons/config.png" />
        </button>
        <button type="button" class="nav-button" @onclick="OnClickLogOut">
            Desconectar <img src="Icons/logout.png"/>
        </button>     
    </nav>

    <div class="log-container">
        <LogViewer />
    </div>

    <div class="config-container">
        <ConfigPanel />
    </div>
</div>

<script src="/js/utilidades.js"></script>

<style>
    .log-container {
        display: @ShowLogs;
    }

    .config-container {
        display: @ShowConfig;
    }
</style>