@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inject HttpClient Http
@inject NavigationManager NavManager
@inject IJSRuntime JS
@inject ILocalStorageService storageService

<div class="main-box date-box" id="mainBox">
    <div class="core-box">
        <label for="firstDateInput">Fecha de inicio</label>
        <input type="date"
               id="firstDateInput"
               @bind="FirstDate"/>
    </div>
    <div class="core-box">
        <label for="lastDateInput">Fecha de fin</label>
        <input type="date"
               id="lastDateInput"
               @bind="LastDate"
               min="@FirstDate.ToString("yyyy-MM-dd")" />
    </div>
    <button type="button" id="form-button" class="button-style" @onclick="OnClickHide">
        Salir
    </button>
    <button type="button" id="form-button" class="button-style" @onclick="OnClickExport">
        Aceptar
    </button>
</div>

<style>
    .date-box{
        max-width: 600px !important;
    }

    .main-box .core-box label {
        top:-5px;
        color: #caf9ca;
    }
</style>